language: python
python:
  - 2.7
install:
  - pip install -r requirements.txt
  - pip install -r requirements-test.txt
  - pip install coveralls
script:
  - coverage run --source=ztreamy setup.py test
